<div id="whole-content" style="display: none;">
{% extends 'main/index.html' %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Barangay Officials</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="card">
            <div class="card-body">
                <div class="row g-2">
                    <div class="col-lg-auto">
                        <div class="hstack gap-2">
                            <a href="{% url 'admin_forms' %}" class="btn btn-primary">
                                <i class="ri-add-line align-bottom me-1"></i> Add Brgy. Officials
                              </a>
                              <a href="{% url 'personnel' %}" class="btn btn-soft-secondary">
                                <i class="ri-add-line align-bottom me-1"></i> View Personnel
                              </a>
                              
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-3 col-auto">
                        <div class="search-box">
                            <input type="text" class="form-control search" id="searchInput" placeholder="Search for Barangay Officials...">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                   
                </div>
                <!--end row-->
            </div>
            <!--end card-body-->
    <div class="row h-100">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped display" style="width:100%" id="userList">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>    
                                <th style="width: 20%;">Action</th>
                            </tr>
                        </thead>
                        <tbody id="BrgyOfficialsTableBody">
                            
                        </tbody>
                    </table>
                        <!-- Pagination buttons -->
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous" onclick="loadPreviousPage()">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <!-- You can dynamically generate page buttons here -->
                            <!-- For example, if you have 5 pages, you can create 5 buttons -->
                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="1">1</a></li>
                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="2">2</a></li>
                            <li class="page-item"><a class="page-link pagination-link" href="#" data-page="3">3</a></li>
                            <!-- Add more buttons as needed -->
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next" onclick="loadNextPage()">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                </div> <!-- end card-body-->
            </div>
        </div> <!-- end col-->
    </div> <!-- end row h100-->
    
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-modal="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="editModalLabel">Barangay Official's Information</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm" action="javascript:void(0);">
                        <div class="row g-4">
                            <!-- Image Container -->
                            <div class="col-12 text-center">
                                <div class="square-container">
                                    <img src="" alt="Preview Image" id="e_photo_path" class="img-fluid rounded" style="max-width: 100%; max-height: 100%;">
                                </div> 
                                <input type="file" id="e_photo_path">
 
                            </div>
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_first_name" class="form-label1">First Name <span>*</span></label>
                                        <input type="form" class="form-control" id="e_first_name" placeholder="First Name">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_middle_name" class="form-label1">Middle Name</label>
                                        <input type="form" class="form-control" id="e_middle_name" placeholder="Middle Name">
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk"> 
                                        <label for="e_last_name" class="form-label1">Last Name <span>*</span></label>
                                        <input type="form" class="form-control" id="e_last_name" placeholder="Last Name" >
                                    </div>
                                </div>
                                <!--end col-->
                                <div class="col-xxl-3 col-md-6">
                                   <div class="asterisk">
                                            <label for="e_suffix" class="form-label1">Suffix</label>
                                            <div class="input-group">
                                                <select class="form-select" id="e_suffix">
                                                    <option value="" disabled selected>Select a suffix</option>
                                                    <option value="Sr.">Sr.</option>
                                                    <option value="Jr.">Jr.</option>
                                                    <option value="I">I</option>
                                                    <option value="II">II</option>
                                                    <option value="III">III</option>
                                                </select>
                                            </div>
                                            </div>
                                        </div>
      
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_birthday" class="form-label1">Birthday <span>*</span></label>
                                        <input type="date" class="form-control" id="e_birthday">
                                    </div>
                                </div>
                               
                              
                                <!--Phone number-->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_contact_no" class="form-label1">Phone Number <span>*</span></label>
                                        <div class="form-icon right">
                                            <input type="text" class="form-control form-control-icon" id="e_contact_no" placeholder="09*******" >
                                            <i class="ri-phone-line"></i>
                                    </div>
                                    </div>
                                </div>
                                <!--email-->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_email" class="form-label1">Email <span>*</span></label>
                                        <div class="form-icon right">
                                            <input type="email" class="form-control form-control-icon" id="e_email" placeholder="example@gmail.com" >
                                            <i class="ri-mail-unread-line"></i>
                                        </div>
                                    </div>
                                </div>
                                <!--Position-->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                    <label for="e_position" class="form-label1">Position <span>*</span></label>
                                    <select class="form-select" id="occupation">
                                        <option value="" disabled selected>Select Position</option>
                                        <option value="Barangay Captain">Barangay Captain</option>
                                        <option value="Barangay Kagawad">Barangay Kagawad</option>
                                        <option value="Barangay SK Chairperson">Barangay SK Chairperson</option>
                                    </select>
                                    </div>
                                </div>
                                <!-- statrt term -->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_start_term" class="form-label1">Start Term <span>*</span></label>
                                        <input type="date" class="form-control" id="e_start_term">
                                    </div>
                                </div>
                                <!-- end term -->
                                <div class="col-xxl-3 col-md-6">
                                    <div class="asterisk">
                                        <label for="e_end_term" class="form-label1">End Term <span>*</span></label>
                                        <input type="date" class="form-control" id="e_end_term">
                                    </div>
                                </div>
                            <div class="col-lg-12">
                                <div class="hstack gap-2 justify-content-end">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </form>
                </div>
            </div>
        </div>
        <!-- end of modal edit -->
        </div><!--div row-->
                                                               
 <!--View Modal-->  
 <!--     
 <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-modal="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="viewModalLabel">Barangay Official Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="alignment-view">
                <div class="row">
                        <div class="col-xxl-3 col-md-6">
                                <label for="Name" class="form-label1"> Name </label>
                                <span id=""></span>
                            
                        </div>

                        <div class="col-xxl-3 col-md-6">
                                <label for="exampleInputdate" class="form-label1">Birthday </label>
                                <input type="date" class="form-control" id="birthday" disabled>
                        </div>                                     
       
                        </div>
                        <div class="row">
                        <div class="col-xxl-3 col-md-6">
                                <label for="phonenum" class="form-label1"><br>Phone Number </label>
                                <div class="form-icon right">
                                    <input type="text" class="form-control form-control-icon" id="contact_no" placeholder="09*******" disabled>
                                    <i class="ri-phone-line"></i>
                            </div>
                        </div>
               
                        <div class="col-xxl-3 col-md-6">
                                <label for="email" class="form-label1"><br>Email </label>
                                <div class="form-icon right">
                                    <input type="email" class="form-control form-control-icon" id="email" placeholder="example@gmail.com" disabled>
                                    <i class="ri-mail-unread-line"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
           
                        <div class="col-xxl-3 col-md-6">
                            <label for="position" class="form-label1"><br>Position </label>
                            <select class="form-select" id="occupation">
                                <option value="" disabled selected>Select Occupation</option>
                                <option value="Barangay Captain">Barangay Captain</option>
                                <option value="Barangay Kagawad">Barangay Kagawad</option>
                                <option value="Barangay SK Chairperson">Barangay SK Chairperson</option>

                            </select>
                        </div>
                        <div class="col-xxl-3 col-md-6">
                            <div class="asterisk">
                                <label for="start_term" class="form-label1"><br>Start Term </label>
                                <input type="date" class="form-control" id="start_term" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-3 col-md-6">
                                <label for="end_term" class="form-label1"><br>End Term </label>
                                <input type="date" class="form-control" id="end_term" disabled>
                            
                        </div>                      
                      
                         <div class="col-xxl-3 col-md-6">
                                <label for="photo_path" class="form-label1"><br>Profile Photo </label>
                                <input class="form-control" type="file" id="photo_path" name="photo_path">
                        </div>
                     </div>
                         </div>
                        </div>
                    </div>
            </div>
            </div>
            </div>
  
</div>
VIEW MODAL COMMENTED OUT-->
<!-- container-fluid -->

{% block css %}
<link href="{% static 'css/officials.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'img/bitbo_logo.png' %}" rel="icon">
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
$(document).ready(function () {
    // Function to load barangay official data with pagination
    function loadBarangayOfficials(page = 1, searchTerm = "") {
        $.ajax({
            url: "http://127.0.0.1:8000/barangayofficials/getp?page=" + page + "&limit=10&search=" + encodeURIComponent(searchTerm),
            type: "GET",
            headers: {
                "Authorization": "Bearer " + localStorage.getItem('token')
            },
            success: function (data) {
                // Clear existing data
                $("#BrgyOfficialsTableBody").empty();

                // Check if barangay officials data is available
                if (data.data.length > 0) {
                    // Iterate through barangay officials and append rows to the table
                    $.each(data.data, function (index, barangay_official) {
                        var row = '<tr>' +
                            '<td>' + barangay_official.first_name + ' ' + barangay_official.middle_name + ' ' + barangay_official.last_name + '</td>' +
                            '<td>' + barangay_official.position + '</td>' +
                            '<td>'+
                            //'<button class="btn btn-soft-secondary edit-btn btn-spacing" data-barangayofficialid="' + barangay_official.id + '" type="button" data-bs-toggle="modal" data-bs-target="#editModal">' +
                            //'<a href="#" class="dropdown-item"><i class="ri-pencil-fill align-bottom me-2 text-muted"></i> Edit</a>' +
                            //'</button>' +
                            '<button class="btn btn-soft-secondary edit-btn btn-spacing" data-barangayofficialid="' + barangay_official.id + '" type="button" data-bs-toggle="modal" data-bs-target="#editModal">' +
                           '<a href="#" class="dropdown-item"><i class="ri-eye-fill align-bottom me-2 text-muted"></i> View</a>' +
                           '</button>' +
                            
                            '<button class="btn btn-soft-primary delete-btn btn-spacing" data-barangayofficialid="' + barangay_official.id + '" type="button" aria-expanded="false">' +
                            '<a href="#" class="dropdown-item" onclick="event.preventDefault();"><i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> Delete</a>' +
                            '</button>' +
                            '</td>' +
                            '</tr>';

                        // Append the row to the table body
                        $("#BrgyOfficialsTableBody").append(row);
                    });
                } else {
                    // Handle case when no barangay officials are found
                    $("#BrgyOfficialsTableBody").html('<tr><td colspan="5">No Barangay Officials found</td></tr>');
                }
            },
            error: function () {
                // Handle error case
                console.error('Error fetching Barangay Officials data.');
            }
        });
    }

    // Search input change event handler
    $("#searchInput").on("input", function () {
        var searchTerm = $(this).val();
        loadBarangayOfficials(1, searchTerm);
    });

    // Initial load of barangay officials data
    loadBarangayOfficials();

    // Function to dynamically generate pagination buttons
    function generatePaginationButtons(totalPages) {
     var paginationContainer = $(".pagination");
     paginationContainer.empty();

    for (var i = 1; i <= totalPages; i++) {
    var button = '<li class="page-item"><a class="page-link pagination-link" href="#" data-page="' + i + '">' + i + '</a></li>';
    paginationContainer.append(button);
    }
}

    // Pagination click event handler
        $(document).on("click", ".pagination-link", function (event) {
            event.preventDefault();
            var page = $(this).attr("data-page");
            loadBarangayOfficials(page);
        });

    // Variable to store the current page
            var currentPage = 1;

    // Function to load the next page
        function loadNextPage() {
            currentPage++;
            loadBarangayOfficials(currentPage);
        }

    // Function to load the previous page
        function loadPreviousPage() {
            if (currentPage > 1) {
                currentPage--;
                loadBarangayOfficials(currentPage);
            }
        }

// DELETE MODAL POP UP----------------------
$(document).on("click", ".delete-btn", function () {
    var barangayOfficialId = $(this).data("barangayofficialid");

    // Using SweetAlert for confirmation
    Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!"
    }).then((result) => {
        if (result.isConfirmed) {
            deleteBarangayOfficial(barangayOfficialId);
        }
    });
});

// DELETE Barangay Official ---------------------------
function deleteBarangayOfficial(barangayOfficialId) {
    $.ajax({
        url: "http://127.0.0.1:8000/barangayofficials/" + barangayOfficialId,
        type: "DELETE",
        headers: {
            "Authorization": "Bearer " + localStorage.getItem('token')
        },
        success: function (data) {
            // Using SweetAlert for success message
            Swal.fire({
                title: "Deleted!",
                text: "Your file has been deleted.",
                icon: "success"
            }).then(() => {
                loadBarangayOfficials(); // Reload data after deletion
            });
        },
        error: function () {
            // Handle error case
            console.error('Error deleting barangay official.');
        }
    });
}


// FOR EDIT MODAL --------------------------------------
        $(document).on("click", ".edit-btn", function () {
            var barangayOfficialId = $(this).data("barangayofficialid");

            // Set the barangay ID to the modal data attribute
            $('#editModal').data('barangay-official-id', barangayOfficialId);
            

            // Call the function to get specific resident data by ID
            getBarangayOfficialforEdit(barangayOfficialId);
        });

        // Function to get specific resident data by ID
        function getBarangayOfficialforEdit(barangayOfficialId) {
            console.log('Getting barangay official with ID:',  barangayOfficialId);
            $.ajax({
                url: "http://127.0.0.1:8000/barangayofficials/" +  barangayOfficialId,
                type: "GET",
                headers: {
                    "Authorization": "Bearer " + localStorage.getItem('token')
                },
                success: function (data) {
                    // Populate the form fields with the resident data
                    showEditModal(data.data);

                    // Open the modal for editing
                    $('#editModal').modal('show');
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle error case
                    console.error('Error fetching barangay official data:', textStatus, errorThrown);
                }
            });
        }

        // Function to populate form fields with barangay official data
        function showEditModal(barangayOfficialData) {
            // Assuming you have form fields with corresponding IDs, update their values
            $('#e_first_name').val(barangayOfficialData.first_name);
            $('#e_middle_name').val(barangayOfficialData.middle_name);
            $('#e_last_name').val(barangayOfficialData.last_name);
            $('#e_suffix').val(barangayOfficialData.suffix);
            $('#e_birthday').val(barangayOfficialData.birthday);
            $('#e_email').val(barangayOfficialData.email);
            $('#e_contact_no').val(barangayOfficialData.contact_no);
            $('#e_position').val(barangayOfficialData.position);
            $('#e_start_term').val(barangayOfficialData.start_term);
            $('#e_end_term').val(barangayOfficialData.end_term);
            // Repeat this for other form fields

            // Update the image in the Image container
            $('#e_photo_path').attr('src', 'data:image/jpeg;base64,' + barangayOfficialData.photo_path);
        }

// Attach a submit event handler to the form
$(document).on("submit", "#editForm", function (event) {
    // Prevent the default form submission
    event.preventDefault();

    // Display a confirmation dialog using SweetAlert
    Swal.fire({
        title: "Are you sure you want to edit?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes"
    }).then((result) => {
        if (result.isConfirmed) {
            // Get the barangay official ID from the form or any other source you have
            var barangayOfficialId = getBarangayOfficialId(); // Implement the function to get the barangay official ID

            console.log('Barangay Official ID:', barangayOfficialId); // Log the barangayOfficialId before making the request

            // Call the function to gather form data
            var barangayOfficialData = getFormData(barangayOfficialId);

            // Call the function to update barangay official data by ID
            updateBarangayOfficial(barangayOfficialId, barangayOfficialData);
        }
    });
});

// Function to gather form data into an object
function getFormData(barangayOfficialId) {
    var formData = new FormData();

    formData.append('id', barangayOfficialId);
    formData.append('first_name', $('#e_first_name').val());
    formData.append('middle_name', $('#e_middle_name').val());
    formData.append('last_name', $('#e_last_name').val());
    formData.append('suffix', $('#e_suffix').val());
    formData.append('birthday', $('#e_birthday').val());
    formData.append('email', $('#e_email').val());
    formData.append('contact_no', $('#e_contact_no').val());
    formData.append('position', $('#e_position').val());
    formData.append('start_term', $('#e_start_term').val());
    formData.append('end_term', $('#e_end_term').val());
    
    // Check if a file is selected
    var photoFile = $('#e_photo_path')[0].files[0];
    if (photoFile) {
        formData.append('photo_path', photoFile);
    } else {
        // If no file is selected, append an empty string or some default value
        formData.append('photo_path', ''); // You can change this to any default value you prefer
    }

    return formData;
}

// Function to update barangay official data by ID
function updateBarangayOfficial(barangayOfficialId, barangayOfficialData) {
    console.log('Sending data to server:', barangayOfficialData);

    $.ajax({
        url: "http://127.0.0.1:8000/barangayofficials/" + barangayOfficialId,
        type: "PUT",
        data: barangayOfficialData, // Use the passed data directly
        processData: false,  // Important! Prevent jQuery from automatically processing the data
        contentType: false,  // Important! Set content type to false
        headers: {
            "Authorization": "Bearer " + localStorage.getItem('token')
        },
        success: function (data) {
            console.log("Barangay Official updated successfully!");
            // Display success message using SweetAlert
            Swal.fire({
                title: "Submitted!",
                text: "Data has been submitted.",
                icon: "success"
            });
        },
        error: function (xhr, textStatus, errorThrown) {
            console.error('Error updating barangay official data:', textStatus, errorThrown);
        }
    });
}
        // Function to get the resident ID (you need to implement this based on your application logic)
        function getBarangayOfficialId() {
            // Implement the logic to retrieve the resident ID
            // For example, if you have stored the resident ID in a data attribute of the form:
            return $('#editModal').data('barangay-official-id');
        }
    });


//IMAGE ---------------
  // This function will set the src attribute of the photo_path when the modal is shown
  $('#editModal').on('shown.bs.modal', function (e) {
    // Assume imageData is the base64-encoded image data you get from your backend
    var imageData = "data:image/png;base64," + yourBase64ImageData;
    $('#e_photo_path').attr('src', imageData);
});





//SECURITY--------------
   // Check for the token when the page loads
   document.addEventListener("DOMContentLoaded", function() {
         var token = localStorage.getItem('token');
         if (token) {
             // Show the services content if the token is present
             document.getElementById('whole-content').style.display = 'block';
         } else {
             // Redirect to login if token is not present
             window.location.href = "/login";  // Adjust the login page URL if necessary
         }
     });
</script>




{% endblock %}
{% endblock %}