
.asterisk span{
    color: red;
}
label{
    margin-left: 1%;
}
.save-button{
    margin-bottom: 5%;
    margin-top: -2%;
}
.cancel-button{
    margin-top: -2%;
}
.asterisk label.form-label1 {
    font-size: 16px; /* Adjust the font size as needed */
    /* You can add more styling properties as needed */
  }
.asterisk label.form-label {
    font-size: 16px; /* Adjust the font size as needed */
    /* You can add more styling properties as needed */
  }
  /* Style placeholders */
  .asterisk input::placeholder,
  .asterisk textarea::placeholder,
  .asterisk input[type="date"],
  .asterisk select {
    color: gray; /* Adjust the color as needed */
    /* You can add more styling properties as needed */
    font-size: 16px;

  }
  .optional select{
    color: gray; 
    font-size: 16px;
  }
  .optional label.form-label1 {
    font-size: 16px; /* Adjust the font size as needed */
    /* You can add more styling properties as needed */
  }
  .optional textarea{
    color: gray; 
    font-size: 16px;
  }
  .optional input[type="file"]{
    font-size: 16px;
  }
  .optional label.form-label{
    font-size: 16px;
  }