

.edit{
    border-radius: 5px;
    background-color: green;
    border: none;
    color: white;
}
.edit:hover{
    background-color: lightgreen;
    color:black;
}
.delete{
    border-radius: 5px;
    background-color: red;
    border: none;
    color: white;
}
.delete:hover{
    background-color: lightcoral;
    color:black;
}
.d-flex .form-control{
    border-radius: 5px;
    margin-left: 60%;
    width: 20%;
}
.search-button{
    background-color: lightblue;
    border-radius: 5px;
    border: none;
}
.search-button:hover{
    background-color: rgb(8, 147, 193);
    color: white;
    
}
.add-button{
    background-color: lightgreen;
    border-radius: 5px;
    border: none;
    
}
.add-button:hover{
    background-color: rgb(52, 255, 52);
    color: white;
}
td, th, tr{
    text-align: center;
    cursor: pointer;
}
table{
    font-size: 16px;
}
tbody tr:hover{
background-color: lightblue;    
}
form{
    margin-top: -2%
}
.container-fluid{
margin-top: -20%;
}
.modal-content{
    width: 250%;
}
.modal-dialog{
    margin-left: 20%;
}
.form-label1 span{
    color: red;
    font-size: 16px;
}
.form-label1 {
    text-align: left;
    display: block;
    font-size: 16px;
}

.btn{
    font-size: 16px; /* Adjust the font size for the primary button */
    /* You can add more styling properties as needed */

  }

  .search-box {
    font-size: 16px; /* Adjust the font size for the search box */
    /* You can add more styling properties as needed */
  }

  .search {
    font-size: 16px; /* Adjust the font size for the search input */
    /* You can add more styling properties as needed */
  }
  .btn-spacing{
    margin-right: 6px;
  }
.modal-body input::placeholder,
.modal-body input[type="date"],
.modal-body input[type="file"],
.modal-body select{
    font-size: 16px;
}
  
  /*id */
  #first_name,
  #middle_name,
  #last_name,
  #suffix,
  #birthday,
  #contact_no,
  #email,

  #occupation,
  #start_term,
  #end_term,
  #formFile


  {
 font-size: 16px;
  }